root = true # this is the top-most EditorConfig file (EditorConfig.org)

[*]
charset                 	= utf-8
end_of_line             	= lf
insert_final_newline    	= true
trim_trailing_whitespace	= true
indent_style            	= space
indent_size             	= 2

[*.{yml,json}]
indent_size	= 2

[*.{md,markdown}]
trim_trailing_whitespace	= false # don't trim trailing spaces because markdown syntax allows that

[{makefile,Makefile,MAKEFILE}]
indent_style	= tab

[justfile]
indent_style	= tab

[{.travis.yml, TODO}]
indent_style	= space
indent_size 	= 2
